<section class="navbar">
  <div class="vertical-center-row space-between">
    <a class="logo" href="/">
      {% include svg/notnew-logo.svg %}
    </a>
    <div class="js-nav-trigger">
      <span></span>
      <span></span>
    </div>
    <nav class="nav">
      <ul>
        <li class="nav-item">
          <a href="{{"/" | relative_url}}"{% if page.url == "/" %} class="current"{% endif %} title="Shop Not New">Shop</a>
        </li>
        <li class="nav-item">
          <a href="{{"/cart/" | relative_url}}"{% if page.url == "/cart/" %} class="current"{% endif %} title="View Cart">Cart</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
