---
layout: default
js: product.js
---
<section class="color-block white">
  <div class="content">
    <div class="j-row productView">
      <div class="j-col j-col-6">
        <img src="" id="product-img">
      </div>
      <div class="j-col j-col-6">
        <h3 id="product-title"></h3>
        <div><p id="product-desc"></p></div>
        <p id="product-price"></p>
        <div style="margin-bottom: 2rem">
          <label for="size">Size</label>
          <select name="size" id="product-size">
            <option value=""></option>
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
            <option value="X-Large">X-Large</option>
          </select>
        </div>
        <div style="margin-bottom: 2rem">
          <label for="quantity">Quantity</label>
          <select name="quantity" id="product-quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
        <div>
          <a href="javascript:void(0)" class="button js-addToCart">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</section>
